.dashboard-entreprise {
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
  color: #2c2c2c;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

section {
  margin-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f3f3f3;
  padding: 12px;
  margin-bottom: 10px;
  border-left: 4px solid #007bff;
}

.message-box {
  background-color: #fce4e4;
  padding: 10px;
  border-left: 4px solid #d32f2f;
}

.date {
  float: right;
  font-size: 0.85em;
  color: #666;
}
